<ion-header>
  <ion-toolbar color="secondary" class="close-btn">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="primary" class="close-button">
        <ion-icon name="close-circle-sharp" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="string" [(ngModel)]="data.name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea type="string" [(ngModel)]="data.description" name="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Condition</ion-label>
    <ion-input type="string" [(ngModel)]="data.condition" name="condition"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Quantity</ion-label>
    <ion-input type="number" [(ngModel)]="data.quantity" name="quantity"></ion-input>
  </ion-item>

  <ion-item *ngIf="devicePlatform !== null">
    <ion-label>Capture Image</ion-label>
    <ion-button (click)="capturePhoto()" color="primary">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item *ngIf="data.image != null || data.image != undefined">
    <ion-label>Image Preview</ion-label>
    <ion-thumbnail>
      <img data-src="{{data.image}}">
    </ion-thumbnail>
  </ion-item>

  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="submitData()" color="secondary">Submit</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>