<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{itemName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="primary" class="close-button">
        <ion-icon name="close-circle-sharp" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h5><B>Description</B></h5>
          {{itemDescription}}
        <h5><b>Condition</b></h5>
          {{itemCondition}}
        <h5><b>Quantity</b></h5>
          {{itemQuantity}}
        <h5><b>Image</b></h5>
          <img data-src="{{itemImage}}">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>